         .section {
        	width: 100%;
        	padding: 0 0 100px;
        	position: relative;
        }

          .section:after {
        	content: '';
        	clear: both;
        	display: table;
        }
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
      background-color:lightgrey;
}
.table-striped{
      width:100%;
}
.table-striped thead td{
  font-weight: bold;
  color:#323232;
}
.wrongMessage{
   color:#FF0000;
}
.submitButton{
  width:70px;
  padding-left:6px;
  padding-right:6px;
  padding-top:1px;
  padding-bottom:1px;
}
.wideSubmitButton{
  width:150px;
  padding-left:6px;
  padding-right:6px;
  padding-top:1px;
  padding-bottom:1px;
}
.selectWidth{
 width: 156px;
}
.adminUserTable{
  height:100px;
  overflow-y: scroll;
  border:1px double #666e74;
  padding-left:20px;
  margin-bottom:20px;
  width:100%;
}
.adminUserCell{
  width:22%;
  display:inline-block;
  float:left;
}
.adminUserCellHead{
  width:22%;
  display:inline-block;
  float:left;
  font-weight:bold;
}
.adminUserHead{
 padding-left:20px;
}
.adminComment{
  display:inline-block;
}
.notAnsweredQuestion {
    display: block;
}
.answeredQuestion {
    display: block;
}
.showAnswer {
    color: darkblue;
    font-size: 10pt;
    position:relative;
}
.selectOptionsPanel{
   font-size:13px;
   font-weight: bold;
}
.questionEntryCheckboxDiv{
  width:20px;
  vertical-align:top;
  display:inline;
  float:right;
}
.inlineForm{
  display:inline;
}
.adminLabel{
  font-weight:bold;
  width:150px;
  display:inline-block;
}
.categoryMenuDiv{
  display:inline-block;
  float:left;
  margin-left:8px;
  width:200px;
}
.commentList{
  list-style:none;
  padding:0px;
}
.commentBody{
  background:#f6f6f6;
  padding:20px;
  border:1px solid #e2e2e2;
  margin:10px;
}
.answerBlockDiv{
    width:100%
}