.mainStyle{
    color:#666e74;
    font-size: 14pt;
}
.mainPanel{
  width:100%;float:left;
}
.leftPanel{
  width:80%;float:left;
}
.rightPanel {
    float: right;
    text-align: justify;
}
.indentmenu,.subindentmenu{
  width: 100%;
}
.indentmenu ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
background-color: #3a5795;
}

.subindentmenu ul{
margin: 0;
padding: 0;
float: left;
width: 100%;
border-width: 1px 0;
background-color: lightgrey;
}

.indentmenu ul li,.subindentmenu ul li{
display: inline;
}

.indentmenu ul li a, .subindentmenu ul li a{
float: left;
color: white;
padding: 5px 11px;
text-decoration: none;
border-right: 1px solid white;
}

.indentmenu ul li a:visited,.subindentmenu ul li a:visited{
color: white;
}

.indentmenu ul li a:hover{
color: white !important;#3a5795
padding-top: 6px;
padding-bottom: 4px;
background-color: #132C61;
}

.subindentmenu ul li a:hover{
color: white !important;
padding-top: 6px;
padding-bottom: 4px;
background-color: grey;
}

.questionsNumber{
    font-size:11pt;
    font-weight: bold;
}

 .breadCrumbs{
    color:darkblue;
    font-weight: bold;
    display:inline-block;
 }
 .breadCrumbs ol{
   margin:0px;
   padding:0px;
   list-style-type:none;
 }
 .breadCrumbs ol li{
   float:left;
 }
 .breadCrumbs ol li a, .breadCrumbs ol li a:visited{
    text-decoration:none;
    color:darkblue;
 }

 .testList, .testIcon{
      color:rgb(58, 87, 149);
      background-color: #869CCA;
      border-width:1px;
      border-style:solid;
      border-color:#3a5795;
      text-align:center;
      padding:5px;
      width:330px;
      font-weight: bold;
      display:inline-block;
      float:left;
      margin:1px;
 }
 .testIcon{
  margin-right:10px;
 }
 .testList h2, .testIcon h2{
     font-size: 1.17em;
 }

 .testList a{
   text-decoration:none;
   color:rgb(58, 87, 149);
}
 .testList:hover{
    background-color: #6D8BCA;
}
.testList a , .testIcon a h4{
   margin-top:0px;
   margin-bottom:10px;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th{
      background-color:lightgrey;
}
.table-striped{
      width:100%;
}
.table-striped thead td{
  font-weight: bold;
  color:#323232;
}
.indexImageStyle{
    background: url('../images/spritesheet.png');
}
.indexH1, .header1{
   margin:10px;
   color:rgb(134, 156, 202);
}
.indexColumn h3, .indexColumn h4, .header2, .header3,.header4{
   margin:10px;
   color:rgb(134, 156, 202);
}
.indexColumn p{
 margin:0px;
}
.indexList{
        padding-right:40px;
        padding-left:60px;
}
.indexList span{
  color:#323232;
  font-weight: bold;
}
.menuImageDiv{
  float:left;
  background: url('../images/spritesheet.png');
}

.menuLoginPart{
  float:right;
  text-align:right;
}
.wrongMessage{
   color:#FF0000;
}
.loginWidth{
  width:140px;
}
.checkboxStyle{
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
}
.submitButton{
  width:70px;
}
.wideSubmitButton{
  width:150px;
}
.rightPanelDiv{
      width:190px;
      height:620px;
      overflow: hidden;
      border:none;
}
.socialIcon{
  display:inline-block;
  float:left;
  background: url('../images/spritesheet.png');
  padding: 1px 1px 40px 1px;
}
.socialIconDiv{
  padding-bottom:60px;
  padding-left:60px;
  display:inline;
}

.mainArea{
  padding-left:5px;
  text-align:justify;
}

.selectWidth{
 width: 156px;
}
.adminTable thead tr{
  font-weight:bold;
}
.adminUserTable{
  height:100px;
  overflow-y: scroll;
  border:1px double #666e74;
  padding-left:20px;
  margin-bottom:20px;
}
.adminUserCell{
  width:50%;
  display:inline-block;
  float:left;
}
.adminUserCellHead{
  width:50%;
  display:inline-block;
  float:left;
  font-weight:bold;
}
.adminUserHead{
 padding-left:20px;
}
.codeStyle{
  white-space: pre-wrap;
}
.showQuestionsList{
  list-style:none;
}
.showQuestionsList li:nth-child(even){
  background-color:lightgrey;
}
.notAnsweredQuestion {
    display: block;
}
.answeredQuestion {
    display: block;
}

.answer {
    text-align: justify;
    padding: 10px 5px 10px 10px;
    white-space: pre-wrap;
    display: block;
}
.questionText {
    margin-bottom:5px;
    color: darkblue;
    white-space: pre-wrap;
}
.questionText p, .answer p{
    display:inline;
}
.showAnswer {
    color: darkblue;
    font-size: 10pt;
    position:relative;
}
.selectOptionsPanel{
   width:100%;
   font-size:13px;
   text-align:right;
   font-weight: bold;
}
.questionEntryDiv{
  width:100%;
}
.questionEntryCheckboxDiv{
  width:20px;
  vertical-align:top;
  display:inline;
  float:right;
}
.questionEntryBody{
  vertical-align:top;
  display:inline;
}

#sprite-examclouds {
     width: 266px;
     height: 65px;
     background-position: -5px -5px;
 }

#sprite-icon_facebook {
     width: 33px;
     height: 33px;
     background-position: -281px -5px;
 }

#sprite-icon_twitter {
     width: 33px;
     height: 33px;
     background-position: -324px -5px;
 }

#sprite-icon_vkontakte {
     width: 33px;
     height: 33px;
     background-position: -367px -5px;
 }
 #sprite-index {
     width: 90%;
     height: 200px;
     background-position: -5px -80px;
 }
.inlineForm{
  display:inline;
}
.contactUsEmail{
  float:left;
  font-size: 10pt;
}
.contactUs{
  float:left;
}
.adminLabel{
  font-weight:bold;
  width:150px;
  display:inline-block;
}
.secondLevelPageImage{
   float:left;
}
.indexColumn{
  display:inline-block;
}
ul.vert-one{
margin:0;
padding:0;
list-style-type:none;
display:block;
line-height:165%;
width:200px;
}

ul.vert-one li{margin:0;padding:0;border-top:1px solid white;
border-bottom:0px solid white;}

ul.vert-one li a{display:block;text-decoration:none;color:#fff;
background:#3a5795;padding:0 0 0 20px;width:180px;}

ul.vert-one li a:hover{
background:#132C61 url("../images/vert-one_arrow.gif") no-repeat 0 9px;}

ul.vert-one li a.current,ul.vert-one li a.current:hover{
background:#132C61 url("../images/vert-one_arrow.gif") no-repeat 0 9px;}

.categoryMenuDiv{
  display:inline-block;
  float:left;
  margin-right:15px;
}

.categoryMenuDivTopic{
  font-weight:bold;
  text-align:center;
}
code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


