<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">
    <filter>
        <filter-name>IndexPageFilter</filter-name>
        <filter-class>controller.filters.IndexPageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ExpiresFilter</filter-name>
        <filter-class>fr.xebia.servlet.filter.ExpiresFilter</filter-class>
        <init-param>
            <param-name>ExpiresByType image</param-name>
            <param-value>access plus 2 weeks</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/css</param-name>
            <param-value>access plus 2 weeks</param-value>
        </init-param>
        <init-param>
            <param-name>ExpiresByType text/javascript</param-name>
            <param-value>access plus 2 weeks</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ExpiresFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IndexPageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <listener>
        <listener-class>controller.test.LoadTestServlet</listener-class>
    </listener>


    <servlet>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <servlet-class>controller.add.CreateCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTestServlet</servlet-name>
        <servlet-class>controller.add.AddTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveComment</servlet-name>
        <servlet-class>controller.SaveComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAnsweredQuestionServlet</servlet-name>
        <servlet-class>controller.ChangeAnsweredQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditQuestionEntryServlet</servlet-name>
        <servlet-class>controller.EditQuestionEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryServlet</servlet-name>
        <servlet-class>controller.edit.EditCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTestServlet</servlet-name>
        <servlet-class>controller.test.EditTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeTestServlet</servlet-name>
        <servlet-class>controller.edit.ChangeTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <servlet-class>controller.exam.ShowQuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditArticleServlet</servlet-name>
        <servlet-class>controller.article.EditArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCommentServlet</servlet-name>
        <servlet-class>controller.comment.ModifyCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpTestServlet</servlet-name>
        <servlet-class>controller.test.UpTestServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.person.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClearHistoryServlet</servlet-name>
        <servlet-class>controller.person.ClearHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <servlet-class>controller.category.DeleteCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <servlet-class>controller.article.DeleteArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEditArticleServlet</servlet-name>
        <servlet-class>controller.article.LoadEditArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowArticleServlet</servlet-name>
        <servlet-class>controller.article.ShowArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryServlet</servlet-name>
        <servlet-class>controller.category.AddCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromTestServlet</servlet-name>
        <servlet-class>controller.category.DeleteFromTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveCategoryServlet</servlet-name>
        <servlet-class>controller.category.MoveCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTestServlet</servlet-name>
        <servlet-class>controller.test.DeleteTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SiteMapServlet</servlet-name>
        <servlet-class>controller.sitemap.SiteMapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <servlet-class>controller.comment.DeleteCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserAnswerServlet</servlet-name>
        <servlet-class>controller.exam.AddUserAnswerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPersonHistoryServlet</servlet-name>
        <servlet-class>controller.person.ShowPersonHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishExamServlet</servlet-name>
        <servlet-class>controller.exam.FinishExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectCategoryForExamServlet</servlet-name>
        <servlet-class>controller.exam.SelectCategoryForExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCoursesWithTests</servlet-name>
        <servlet-class>controller.test.ShowCoursesWithTests</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CreateCategoryServlet</servlet-name>
        <url-pattern>/servlet/CreateCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTestServlet</servlet-name>
        <url-pattern>/servlet/AddTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/servlet/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveComment</servlet-name>
        <url-pattern>/servlet/SaveComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAnsweredQuestionServlet</servlet-name>
        <url-pattern>/servlet/ChangeAnsweredQuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditQuestionEntryServlet</servlet-name>
        <url-pattern>/servlet/EditQuestionEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryServlet</servlet-name>
        <url-pattern>/servlet/EditCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTestServlet</servlet-name>
        <url-pattern>/servlet/EditTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeTestServlet</servlet-name>
        <url-pattern>/servlet/ChangeTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowQuestionServlet</servlet-name>
        <url-pattern>/show-question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditArticleServlet</servlet-name>
        <url-pattern>/EditArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCommentServlet</servlet-name>
        <url-pattern>/modify-comment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/servlet/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClearHistoryServlet</servlet-name>
        <url-pattern>/servlet/ClearHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryServlet</servlet-name>
        <url-pattern>/servlet/DeleteCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleServlet</servlet-name>
        <url-pattern>/servlet/DeleteArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEditArticleServlet</servlet-name>
        <url-pattern>/servlet/LoadEditArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowArticleServlet</servlet-name>
        <url-pattern>/servlet/ShowArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryServlet</servlet-name>
        <url-pattern>/servlet/AddCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromTestServlet</servlet-name>
        <url-pattern>/servlet/DeleteFromTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveCategoryServlet</servlet-name>
        <url-pattern>/servlet/MoveCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpTestServlet</servlet-name>
        <url-pattern>/servlet/UpTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTestServlet</servlet-name>
        <url-pattern>/servlet/DeleteTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SiteMapServlet</servlet-name>
        <url-pattern>/sitemap.xml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommentServlet</servlet-name>
        <url-pattern>/delete-comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserAnswerServlet</servlet-name>
        <url-pattern>/add-user-answer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPersonHistoryServlet</servlet-name>
        <url-pattern>/show-person-history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishExamServlet</servlet-name>
        <url-pattern>/finish-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectCategoryForExamServlet</servlet-name>
        <url-pattern>/select-category-for-exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCoursesWithTests</servlet-name>
        <url-pattern>/tests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/notFoundErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/notFoundErrorPage.jsp</location>
    </error-page>
</web-app>

